.employee--phone-number {
    background-color: #2980b9;
    color: white;
    padding: 20px 5px 20px 35px;
    position: relative;
}

.employee--info{
    background-color: #34495e;
    color: white;
    cursor: pointer;
}

.employee--phone-icon{
    position: absolute;
    font-size: 20px !important;
    left: 0;
    padding-left: 5px;
}

.employee--add-button{
    position: relative;
}

.add--list-name{
    display: inline-block;
    position: absolute !important;
    right: 10px;
}
