<template name="loginFormasi">
    <div id="loginForm" class="row">
        <div class="col offset-m3 m6 center-align"><h3 style="text-transform: uppercase">Log In</h3></div>
        <div class="clean"></div>
        <form id="loginForma" class="col offset-m4 m4">
            <div class="row linya">
                <div class="input-field col m12">
                    <input id="userName" type="text" class="validate" name="userName" />
                    <label for="userName">Username</label>
                </div>
            </div>
            <div class="row linya">
                <div class="input-field col m12">
                    <input id="loginPassword" type="password" class="validate" name="loginPassword" />
                    <label for="loginPassword">Password</label>
                </div>
            </div>
            <div id="loginButton" class="row">
                <button id="sign_in" class="waves-effect waves-light btn col offset-m4 m4 pulse">Login</button>
            </div>
        </form>
        {{#if errorMessage}}
        <div id="loginError" class="ui error message gFont animated bounce">
            Incorrect username or password!
        </div>
        {{/if}}
    </div>
</template>
