<template name="navBar">
    <div id="menuSide">
        <div class="ui vertical labeled icon menu gFont">
            <ul class="collection with-header menuList">
                {{#if adminIs}}
                <a href="/" class="collection-item menyuElement active">
                    <li>
                        <a class="item menyu">
                            <i class="material-icons">date_range</i>
                            <br />Calendar</a
                        >
                    </li>
                </a>
                <a href="/add" class="collection-item menyuElement">
                    <li>
                        <a class="item menyu">
                            <i class="material-icons">add_circle</i>
                            <br />Add</a
                        >
                    </li>
                </a>
                <a href="/discount" class="collection-item menyuElement">
                    <li>
                        <a class="item menyu">
                            <i class="material-icons">money_off</i>
                            <br />Discount</a
                        >
                    </li>
                </a>
                <a href="/followup" class="collection-item menyuElement">
                    <li>
                        <a class="item menyu">
                            <i class="material-icons">track_changes</i>
                            <br />Follow Up</a
                        >
                    </li>
                </a>
                <a href="/statistic" class="collection-item menyuElement">
                    <li>
                        <a class="item menyu">
                            <i class="material-icons">insert_chart</i>
                            <br />Statistic</a
                        >
                    </li>
                </a>
                <a href="/archive" class="collection-item menyuElement">
                    <li>
                        <a class="item menyu">
                            <i class="material-icons">archive</i>
                            <br />Archive</a
                        >
                    </li>
                </a>
                {{/if}}
                {{#if isCardHolder}}
                <a href="#" id="send_cc_form_id" class="collection-item menyuElement">
                    <li>
                        <a class="item menyu">
                            <i class="material-icons">email</i>
                            <br />Send <br />
                            CC Form
                        </a>
                    </li>
                </a>
                {{/if}}
                <li id="logout" class="collection-item">
                    <a href="/" class="item menyu">
                        <i class="material-icons">exit_to_app</i>
                        <br />Log Out</a
                    >
                </li>
            </ul>
        </div>
    </div>
    <script>
        $(function() {
            $('.menyuElement').on('click', function() {
                $('.menyuElement').removeClass(' active animated bounceIn');
                $(this).addClass(' active animated bounceIn');
            });
        });
    </script>
</template>
