.survey
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
    padding 10px
    position absolute
    top 50%
    left calc(50% + 100px)
    transform translate(-50%, -50%)
    margin 20px auto
    text-align center
    color #6d6d6d
    font-size 18px
    text-transform uppercase

    .btn
        margin-right 10px

    input
        padding 2px 10px
        margin-bottom 20px !important

.surveyMessage
    padding 30px
    margin-bottom 40px

.inputs
    margin-bottom 20px