.archive-main
    margin-top 10px

.archive-header
    padding: 10px
    background-color #EDF0F1
    border-radius: 5px
    span
        text-transform: uppercase
        font-weight: bold
        color grey
        position: absolute;
        top: 33px;

#search
    margin 0 !important

.archive-main
    li
        transition: all 0.6s ease
    ul
        border-radius: 5px !important

.archive-list-item
    &:hover
        cursor: pointer
        background-color: #4599DF
        color white