// .archive-main 
// 	margin-top 10px
// 	.archive-list 
// 		border-radius 5px !important
// .archive-header 
// 	padding 10px
// 	background-color #edf0f1
// 	border-radius 5px
// 	span 
// 		text-transform uppercase
// 		font-weight bold
// 		color #808080
// 		position absolute
// 		top 33px
// #search 
// 	margin 0 !important
// .archive-list-item
//     vertical-align top !important
// 	&:hover 
// 		cursor pointer
// 		background-color #4599df !important
// 		color #fff !important
// .archive-fullName 
// 	position relative
// 	text-transform uppercase
// 	font-weight 500
// 	width 150px
// 	white-space nowrap
// 	overflow hidden
// 	text-overflow ellipsis
// 	display inline-block
//     vertical-align top
// .archive-date {
// 	display: inline-block;
//     vertical-align: top;
//     width: 100px;
// }