.archive-main {
    margin-top: 10px;
}
.archive-main .archive-list {
    border-radius: 5px !important;
}
.archive-header {
    padding: 10px;
    background-color: #edf0f1;
    border-radius: 5px;
}
.archive-header span {
    text-transform: uppercase;
    font-weight: bold;
    color: #808080;
    position: absolute;
    top: 33px;
}
#search {
    margin: 0 !important;
}

/* list */
.archive-list-item {
    vertical-align: middle !important;
}
.archive-list-item:hover {
    cursor: pointer;
    background-color: #4599df !important;
    color: #fff !important;
}
.archive-fullName {
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.archive-date {
    display: inline-block;
    vertical-align: top;
    font-family: monospace;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #303f4f;
    color: white;
}

.archive-list--company {
    display: inline-block;
    vertical-align: top;
    font-family: monospace;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #c6d092;
    color: black;
}

.archive-list--jobNumber {
    display: inline-block;
    vertical-align: top;
    font-family: monospace;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #e4d194;
    color: black;
}

/* right align */
.right-content {
    position: absolute;
    right: 0;
    top: 9px;
    font-weight: bold;
}

/* contract button */
.archive-list--contract {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    border-radius: 15px;
    padding: 0 30px 0 10px;
    background-color: rgb(236, 236, 236);
}

.archive-list--contract:hover {
    -webkit-box-shadow: 0px 0px 10px -1px white;
    -moz-box-shadow: 0px 0px 10px -1px white;
    box-shadow: 0px 0px 10px -1px white;
}

.archive-list--contract .material-icons {
    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 18px;
}

/* extended information */

.archive-list--extended-information {
    text-transform: uppercase;
    font-weight: 500;
}
