.archive-main {
    margin-top: 10px;
}
.archive-main .archive-list {
    border-radius: 5px !important;
}
.archive-header {
    padding: 10px;
    background-color: #edf0f1;
    border-radius: 5px;
}
.archive-header span {
    text-transform: uppercase;
    font-weight: bold;
    color: #808080;
    position: absolute;
    top: 29px;
    /* margin-left: 20px; */
}
#search {
    margin: 0 !important;
}

/* list */
.archive-list-item {
    position: relative;
    vertical-align: middle !important;
}
.archive-list-item:hover {
    cursor: pointer;
    background-color: #edf0f1 !important;
    color: rgb(63, 63, 63) !important;
}
.archive-fullName {
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.archive-date {
    display: inline-block;
    vertical-align: top;
    font-family: monospace;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #303f4f;
    color: white;
}

.archive-list--company {
    display: inline-block;
    vertical-align: top;
    font-family: monospace;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #c6d092;
    color: black;
}

.archive-list--jobNumber {
    display: inline-block;
    vertical-align: top;
    font-family: monospace;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #e4d194;
    color: black;
}

/* right align */
.right-content {
    position: absolute;
    right: 0;
    top: 9px;
    font-weight: bold;
}

/* contract button */
.archive-list--contract {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    border-radius: 15px;
    padding: 0 30px 0 10px;
    background-color: rgb(210, 210, 210);
    color: #3c3c3c;
}

.archive-list--contract:hover {
    -webkit-box-shadow: 0px 0px 10px -1px white;
    -moz-box-shadow: 0px 0px 10px -1px white;
    box-shadow: 0px 0px 10px -1px white;
}

.archive-list--contract .material-icons {
    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 18px;
}

/* extended information */

.archive-list--extended-information {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.archive-card-main {
    border-radius: 10px;
    background-color: #bdc3c7;
    padding: 10px;
    -webkit-box-shadow: 0px 18px 68px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 68px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 68px -25px rgba(0, 0, 0, 0.75);
}

.archive-card-main .card-title {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.archive-card-main button {
    padding: 1px 10px;
    color: black;
    background-color: #edf0f1;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    margin-right: 10px;
}

.cardHolderInformation {
    border: 1px solid rgb(230, 230, 230);
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 20px -5px #ababab;
    box-shadow: 0px 10px 20px -5px #ababab;
    margin-top: 40px;
}
