.newCardHolderComponent
    position absolute
    z-index: 33
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color #fff
    width 100%
    height 100vh

.newCardHolders_header
    font-size: 16px;
    padding: 10px 10px 20px !important;
    font-family: monospace;

.newCardHolderComponent_header_main
    text-align: center
    padding: 30px 100px;

.newCardHolderListRender_main
    padding 0 100px
    :hover
        background-color #F2F2F2
        cursor pointer
        border-radius: 10px
        color black 