<template name="reserveQuote">
    <div id="reserve-quote"></div>
    <div id="son-mesaj">
        <div style="text-align: center;">
            <span style="color: #ffffff; font-size: xx-large;">
                <strong>Thank you for booking your move with us!&nbsp;</strong>
            </span>
        </div>
        <div>
            <span style="color: #ffffff; font-size: xx-large;">
                <strong>&nbsp;</strong>
            </span>
        </div>
        <div>
            <span style="color: #ffffff; font-size: xx-large;">
                <strong>&nbsp;</strong>
            </span>
        </div>
        <div style="text-align: center;">
            <span style="color: #ffffff; font-size: large;">
                <strong>&nbsp;</strong>
            </span>
        </div>
        <div style="text-align: center;">
            <span style="color: #ffffff; font-size: large;">
                <strong>Confirmation e-mail was sent to your e-mail address.&nbsp;</strong>
            </span>
        </div>
        <div style="text-align: center;">
            <span style="color: #ffffff; font-size: large;">
                <strong>&nbsp;</strong>
            </span>
        </div>
        <div style="text-align: center;">
            <span style="color: #ffffff; font-size: large;">
                <strong>You can always call us, e-mail and text if you had any questions.&nbsp;</strong>
            </span>
        </div>
        <div style="text-align: center;">
            <span style="color: #ffffff; font-size: large;">
                <strong>&nbsp;</strong>
            </span>
        </div>
        <div style="text-align: center;">
            <span style="color: #ffffff; font-size: large;">
                <strong>Hoping to see you soon!&nbsp;</strong>
            </span>
        </div>
        <div style="text-align: center;">
            <span style="color: #ffffff; font-size: large;">
                <strong>Your Trusted Movers&nbsp;</strong>
            </span>
        </div>
        <div style="text-align: center;">
            <div>&nbsp;</div>
        </div>
        <div style="text-align: center;">&nbsp;</div>
        <div style="text-align: center;">
            <div>&nbsp;</div>
        </div>
        <div style="text-align: center;">
            <div>
                <span style="color: #ffffff;">Cheap Movers Los Angeles -- Moving you with pride since 2006!</span>
            </div>
        </div>
        <div>
            <div style="text-align: center;">
                <span style="color: #ffffff;">Phone:&nbsp;
                    <a style="color: #ffffff;" href="tel:(213)%20262-9440" target="_blank" rel="noopener">213 262 9440</a>&nbsp;| E-mail:&nbsp;
                    <a style="color: #ffffff;" href="mailto:info@cheapmoverslosangeles.com"
                        target="_blank" rel="noopener">info@cheapmoverslosangeles.com</a>
                </span>
            </div>
            <div style="text-align: center;">
                <span style="color: #ffffff;">Web:&nbsp;
                    <a style="color: #ffffff;" href="http://www.cheapmoverslosangeles.com/" target="_blank" rel="noopener"
                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.CheapMoversLosAngeles.com&amp;source=gmail&amp;ust=1521936616182000&amp;usg=AFQjCNE5VesaUK3eo7urqxRTI6CdZQ2jNA">http://www.<wbr />CheapMoversLosAngeles.com</a>
                </span>
            </div>
            <div style="text-align: center;">
                <span style="color: #ffffff;">CAL PUC T-0191555</span>
            </div>
        </div>
    </div>
</template>