<template name="workersList">
    <div class="add-new-worker right-align">
        <span class="addNew">
            <a class="add-truck-button" href="#">Add new Truck</a>
        </span>
        <span class="addNew">
            <a class="add-worker-button" href="#">Add new Eployee</a>
        </span>
    </div>
    <div id="workersFullInfo"></div>
    <div class="clean"></div>
    <div class="add-user-form">
        <form id='employeeInfoAdd'>
            <header>Employee information</header>
            <!-- <div class="employeeBlock">
                <div class="employeePhotoPlace"><h4>Choose</h4><br/><h4>employee</h4><br/><h4>photo</h4></div>
                <label class="btn btn-default btn-file">
                    Choose photo <input type="file" style="display: none;">
                </label>
            </div> -->
            <div class="employeeInfoBlock">
                <input type="text" id="employeeName" name="employeeName" placeholder="Name">
                <input type="text" id="employeeLastName" name="employeeLastName" placeholder="Last Name">
                <input type="number" id="employeePhoneNumber" name="employeePhoneNumber" placeholder="Phone Number">
                <input type="email" id="employeeEmail" name="employeeEmail" placeholder="e-mail address">
                <input type="number" id="employeePayment" name="employeePayment" placeholder="Payment: $ per hour">
                <input type="text" id="employeeAddress" name="employeeAddress" placeholder="Home address of employee">
            </div>
            <div class="clean"></div>
            <div class="formButtons">
                <button class="submit-employee-button" type="submit">Add Employee</button>
                <button type="reset">Reset Form</button>
            </div>
        </form>
    </div>
    <div id="addTruckForm" class="add-truck-form">
        <form id='employeeInfoAdd'>
            <div class="employeeInfoBlock">
                <input id="truck-number" type="number" placeholder="Truck Number" min="1" max="10" />
            </div>
            <div class="clean"></div>
            <div class="formButtons">
                <button class="submit-truck-button" type="submit">Add Truck</button>
            </div>
        </form>
    </div>
    <div class="clean"></div>
    <div class="workers-list">
        {{#each iscilerinSiyahisi}}
        <div id={{_id}} class="iscilerSiyahi">
            {{profile.firstName}} {{profile.lastName}}
            <span class="iscinin-nomresi">{{profile.phoneNumber}}
                <a href="#">
                    <i class="material-icons sag info-duymesi">info_outline</i>
                </a>
                <a href="#">
                    <i class="material-icons sag delete-duymesi animated">delete_forever</i>
                </a>
            </span>
        </div>
        {{/each}}
    </div>
</template>