.iscininMaasi {
    display: inline;
}

#workersFullInfo{
    margin-bottom: 10px;
}

input {
    margin: 3px 0 !important;
}

.duyme{
    background-color: #4A9D85;
    color: white;
    padding: 2px;
    margin: -3px 3px 3px 5px;
}

.deaktiv{
    background-color: grey;
    pointer-events: none;
    color: white;
    padding: 2px;
    margin: -3px 3px 3px 5px;
}

.iscininIsleriSiyahi {
    margin-top: 20px;
    display: none;
}

.list-of-works{
    float: left;
    margin: 0;
    padding: 0;
}

.list-of-works h5 {
    font-size: 18px;
    margin: 5px 0 0;
    padding: 0;
}

.odenilmis {
    background-color: #131233;
    color: white;
    border-radius: 3px;
    padding: 0px 5px;
    margin-right: 10px;
}

.addNew {
    background-color: #079992;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.addNew a {
    color: white;
}

.add-truck-form{
    display: none;
}