<template name="register">
    <div class="addUser">
        <form>
            <input type="text" name="userName" placeholder="Username exm: johnDoe"/>
            <input type="text" name="firstName" placeholder="Firs Name"/>
            <input type="text" name="lastName" placeholder="Last Name"/>
            <input type="password" name="registerPassword" placeholder="Password"/>
            <input class="waves-effect waves-light btn" type="submit" value="Add Employer to base">
        </form>
    </div>
</template>