.update-followup {
    margin-right: 30px !important;
}

.send_email_followUp {
    background-color: #6fc37a;
    padding: 0 10px 1px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: monospace;
    text-transform: uppercase;
    cursor: pointer;
}
