.update_list_main
    border: 1px solid #d8d8d8
    border-radius: 10px
    overflow: hidden

.update_list
    text-align: center
    text-transform: uppercase
    font-weight: 500
    border-bottom: 1px solid #d8d8d8

.update_list_header
    font-size 20px