.update_list_main
    border: 1px solid #d8d8d8
    border-radius: 10px
    overflow: hidden

.update_list
    text-align: center
    text-transform: uppercase
    font-weight: 500
    border-bottom: 1px solid #d8d8d8
    padding: 5px !important
    margin-bottom: 8px

.update_list_header
    font-size 20px

.update_list_date
    font-family: monospace;
    background-color: #e8e8e8;
    color: #5f5f5f;
    padding: 4px 10px;
    border-radius: 5px;
    
.update_list_by
    font-family: monospace;
    color: #5f5f5f;
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #ffffff;
    border-left: 1px solid #CD5749;
    border-right: 1px solid #CD5749;

.update_list_elements
    cursor pointer

.update_render_list
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: monospace
    p
        text-transform: uppercase
        font-weight: 500

.collection-item
    .E
        background-color #F1D064
        color black
    .N
        background-color #67AD5B
        color white
    .D
        background-color #DD4D42
        color white

.update_status
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 10px;
    font-weight: 500
    color white

.update_values
    border: 1px solid rgba(241, 241, 241, 0.68);
    padding: 0 10px 10px !important;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 49% !important;
    margin-right: 1%;