#bonuceCalculator
    padding: 10px

body
    background-color #f8f8f8 !important

.bonus_settings
    li
        font-family: monospace
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        cursor pointer

.bonus_settings_moving_size
    display inline-block
    input
        display inline-block !important
        width: 100px
        height: 20px
        margin 0 20px

.bonus_settings_moving_size_bonuses
    display inline-block
    width: 100px
    padding: 3px 0 0 0
    input
        height: 1.4rem;

.less_than
    border-radius 15px
    background-color red
    display: inline-block !important
    color: white

.more_than
    border-radius 15px
    background-color green
    display: inline-block !important
    color: white

.employeeBonusMain
    border-radius: 5px
    padding: 10px !important;
    border: 1px solid #bbbbbb;
    font-family monospace !important;
    color: #444444;