.cardHolder
    text-align center
    position: absolute
    // width: 100vw
    h1
        font-size: 20px
    h2
        font-size: 18px
        line-height: 24px

.cardHolder-cardInfo
    margin-top 10px
    padding 30px !important
    border-radius 10px
    -webkit-box-shadow: 0px 15px 51px -20px rgba(43,163,255,1)
    -moz-box-shadow: 0px 15px 51px -20px rgba(43,163,255,1)
    box-shadow: 0px 15px 51px -20px rgba(43,163,255,1)

.cardholder_note
    color grey

.red_star
    color red

.cardholder_upload
    margin-bottom 40px

.upload_cardholder_sections
    display inline-block
    width 30%
    border 1px solid #A2A2A2
    border-radius 10px
    margin 30px 5px 0
    color grey
    cursor pointer
    padding 10px

.cardholder_footer
    margin 20px

@media (max-width : 450px) 
    .cardHolder-cardInfo
        margin-top 10px
        padding 30px !important
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
    .upload_cardholder_sections
        width 100%
        margin 10px 5px

.fileUploader
    display: none

.cardholder_check
    border-radius 10px
    border 1px solid #BF3F3B
    -webkit-box-shadow: 0px 15px 51px -20px #BF3F3B
    -moz-box-shadow: 0px 15px 51px -20px #BF3F3B
    box-shadow: 0px 15px 51px -20px #BF3F3B
    margin-bottom 25px

.buttonAlert
    color red
    text-transform uppercase
    font-size 10px

.uploaded_files
    margin-top 30px !important
    img
        width: 500px
        height auto
        position: static !important
        margin-bottom: 20px
        margin-top: 20px
        border-radius: 5px