.statistic
	margin-top 20px

.statistic__chart
	margin 0 auto

.chart_list_render
	border 1px solid #DBDBDB
	display: inline-block
	width: calc(100% - 10px);
	box-sizing: border-box;
	margin: 2px 5px 0
	background: #bfced2;
	border-radius: 5px;
	overflow: hidden;
	position: relative
	.value
		background-color #e74c3c
		display: inline-block
		color white
		padding: 0 10px
		margin-left: 10px
		margin-right: -4px;
	.percent
		background-color #2980b9
		border-radius: 0 7px 7px 0
		display: inline-block
		color white
		padding: 0 10px

.statistic_menu
	background-color #EDF0F1
	border-radius 10px
	color #4599DF
	box-shadow: none
	margin-bottom 20px
	height auto
	padding-left: 40px
	span
		margin-right: 20px

.statistic__company_selector
.statistic__status_selector
.statistic__employee_selector
	display: inline-block !important
	width: auto

.statistic__calendar
	z-index: 3
	position: absolute

#statitic__date_picker
	display: inline-block
	border-radius: 5px;
	border: 1px solid #909090;
	width: 200px;
	text-align: center;
	height: 43px;

.daterangepicker
	tr, td
		padding 5px !important

.statistic__graph_list
	width: 100%
	margin-top: 20px
	background-color: #d2dadd
	padding: 0
	text-align: left
	border-radius: 5px


.masonry
	column-count: 2;
	column-gap: 1em;

.masonry_item
	background-color: #eee;
	display: inline-block;
	margin: 0 0 1em;
	width: 100%;

.order
	margin: 0 5px 0 0;
	padding: 5px;
	font-weight: 600;
	text-shadow: 0 0 5px #fff;

.result_header
	background: #809ba3;
	padding: 5px 10px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 15px 0 5px;
	color: #e4eaec;

.statisticInfo
	display: inline-block;
	float: right;

.chart
	width: 100%
	height: auto
	padding: 20px 5px 5px

canvas
	margin: 0 auto;

.result-list
	height: 215px
	overflow: auto
	width: 100%