<template name="preQuote">
    <div>
        <!-- Prequote -->
        <div id="quote-content" class="row">
            <form id="quote-request">
                <!-- First Name -->
                <div class="input-field valideyn col s12 m6 l2">
                    <i class="material-icons isare">account_box</i>
                    <input id="firstName" type="text" placeholder="" required />
                    <label class="active" for="firstName">First Name</label>
                </div>
                <!-- Last Name -->
                <div class="input-field valideyn col s12 m6 l2">
                    <i class="material-icons isare">account_box</i>
                    <input id="lastName" type="text" placeholder="" required />
                    <label class="active" for="lastName">Last Name</label>
                </div>
                <!-- Phone number -->
                <div class="input-field valideyn col s12 m6 l2">
                    <i class="material-icons isare">phone</i>
                    <input id="phoneNumber" type="number" placeholder="" required />
                    <label class="active" for="phoneNumber">Main Phone Number</label>
                </div>
                <!-- Additional phone number -->
                <div class="input-field valideyn col s12 m6 l2">
                    <i class="material-icons isare">phone</i>
                    <input id="phoneNumberAdditional" type="number" placeholder="" />
                    <label class="active" for="phoneNumberAdditional">Secondary Phone Number</label>
                </div>
                <!-- Email -->
                <div class="input-field valideyn col s12 m6 l4">
                    <i class="material-icons isare">email</i>
                    <input id="musteriEmail" type="email" placeholder="" require />
                    <label class="active" for="musteriEmail">E-mail</label>
                </div>
                <div class="clear"></div>
                <!-- Additional Contact -->
                <div id="additional-contact" class="row"></div>
                <div class="clear"></div>
                <!-- Moving Date -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">date_range</i>
                    <input id="quote-date-picker" class="xx" autocomplete="off" type="text" placeholder="" />
                    <label class="active" for="quote-date-picker">Moving Date</label>
                </div>
                <!-- Moving time window -->
                <div id="arrival-time" style="margin-top: 10px" class="input-field valideyn col s12 m3 l3"></div>
                <!-- Taken By -->
                <div id="takenBy" class="col s12 m3 l3"></div>
                <div class="col s12 m3 l3">
                    <label class="active" htmlFor="source_of_leads_add">
                        Source of Leads
                    </label>
                    <select id="source_of_leads_add" class="browser-default">
                        <option value="call">Call</option>
                        <option value="e-mail">Email</option>
                        <option value="yelp">Yelp</option>
                        <option value="thumbtack">Thumbtack</option>
                        <option value="text">Text</option>
                        <option value="groupon">Groupon</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="clear"></div>
                <!-- Addresses -->
                <div class="cardBorder relative">
                    <div id="addressesId" class="input-field valideyn"></div>
                </div>
                <div class="clear"></div>
                <!-- Small item packing -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">view_array</i>
                    <input id="small_item_pack" class="xx" type="number" placeholder="0" />
                    <label class="active" for="small_item_pack">
                        Small item packing
                        <i class="lime-text lighten-5 black">
                            [ Yes
                            <input
                                id="smallItemPackInit"
                                type="checkbox"
                                onclick="(() => {
                            let element = document.getElementById('small_item_pack')
                            element.value == -1 ? element.value = '' : element.value = -1;
                            element.disabled = !element.disabled;
                            })()"
                            />
                            ]
                        </i>
                    </label>
                </div>
                <!-- Large Item fee -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">view_carousel</i>
                    <input id="large_item_fee" class="xx" type="number" placeholder="0" />
                    <label class="active" for="large_item_fee">Large item fee</label>
                </div>
                <!-- Travel Fee -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">attach_money</i>
                    <input id="gas_fee" class="xx" type="number" placeholder="0" />
                    <label class="active" for="gas_fee">
                        Travel Fee
                        <i class="lime-text lighten-5 black">
                            [ Not sure?
                            <input type="checkbox" onclick="gasFeeNotSure()" />]
                        </i>
                    </label>
                </div>
                <!-- Deposit -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">attach_money</i>
                    <input id="deposit" class="xx" type="number" placeholder="0" />
                    <label class="active" for="deposit">Deposit</label>
                </div>
                <!-- Payment charging options -->
                <div class="clear"></div>
                <div class="row chargingPanel">
                    <div class="col s12 m12 l12 orange darken-4 payment-header">
                        Payment options
                        <i class="lime-text lighten-5 black flatRateSelect"
                            >[ Flat Rate
                            <input id="flatRateCheck" type="checkbox" onchange="showFlatRate()" />
                            ]</i
                        >
                    </div>
                    <div id="paymentContent">
                        <!-- Minimum labor time -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">timer</i>
                            <input
                                id="labor_time"
                                class="xx"
                                type="number"
                                placeholder="0"
                                onchange="(() => {
                                    if (this.value < 0) { 
                                        this.value=0; 
                                    } 
                                })()"
                            />
                            <label class="active" for="labor_time">Minimum labor time (hours)</label>
                        </div>
                        <!-- Hourly rates cash -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="hourly_rates_cash"
                                class="xx"
                                type="number"
                                placeholder="0"
                                onchange="(() => {
                                                                    if (this.value < 0) {
                                                                        this.value = 0;
                                                                    }
                                                                })()"
                            />
                            <label class="active" for="hourly_rates_cash">Hourly rates (cash)</label>
                        </div>
                        <!-- Hourly rates card -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="hourly_rates_card"
                                class="xx"
                                type="number"
                                placeholder="0"
                                onchange="(() => {
                                                                    if (this.value < 0) {
                                                                        this.value = 0;
                                                                    }
                                                                })()"
                            />
                            <label class="active" for="hourly_rates_card">Hourly rates (card)</label>
                        </div>
                        <!-- NOt to exceed Price -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="quote_price"
                                class="xx"
                                type="number"
                                placeholder="0"
                                onchange="(() => {
                                                                    if (this.value < 0) {
                                                                        this.value = 0;
                                                                    }
                                                                })()"
                            />
                            <label class="active" for="quote_price">Not Exceed Price</label>
                        </div>
                    </div>
                    <div id="flatRate_" class="input-field valideyn col s12 m12 l12 flatRate hide">
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="flatRateCash"
                                class="xx"
                                type="number"
                                placeholder="0"
                                onchange="(() => {
                            if (this.value< 0) {
                                 this.value=0; 
                                 } })()"
                            />
                            <label class="active" for="flatRateCash">Flat rate cash</label>
                        </div>
                        <!-- Large Item fee -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="flatRateCard"
                                class="xx"
                                type="number"
                                placeholder="0"
                                onchange="(() => {
                            if (this.value < 0) { this.value=0; } })()"
                            />
                            <label class="active" for="flatRateCard">Flat rate card</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Double drive -->
                    <div class="input-field col s12 m3 l3 azMargin">
                        <select class="browser-default" title="Double drive" name="double_drive" id="double_drive">
                            <option value="false" disabled>Select double drive</option>
                            <option value="waived" selected>No</option>
                            <option value="yes">Yes</option>
                            <option value="notSure">Not Sure</option>
                        </select>
                        <label
                            class="active"
                            style="
                        background-color: rgb(237, 240, 241); padding: 0px 5px; margin: -28px 15px; top: -15px; left: 0; position: absolute;
                        "
                            for="double_drive"
                            >Double Drive Time</label
                        >
                    </div>
                    <!-- Number of movers -->
                    <div id="number-of-movers" class="input-field valideyn col s12 m3 l3 azMargin">
                        <!-- <i class="material-icons isare">person</i> -->
                    </div>
                    <!-- Select moving size -->
                    <div id="moving-size-main" class="input-field col s12 m6 l6 azMargin">
                        <label
                            class="active"
                            style="
                        background-color: rgb(237, 240, 241); padding: 0px 5px; margin: -28px 15px; top: -15px; left: 0; position: absolute;
                        "
                            for="moving_size_2"
                            >Moving Size</label
                        >
                        <select class="browser-default" title="moving_size" name="moving_size" id="moving_size_2">
                            <option value="select_moving_size" selected disabled>Select Moving Size</option>
                            <option value="items">Items</option>
                            <option value="studio">Studio</option>
                            <option value="1_bedroom">1 Bedroom</option>
                            <option value="2_bedroom_small">2 Bedroom (small size, few items)</option>
                            <option value="2_bedroom_avg">2 Bedroom (avg. size, avg. items)</option>
                            <option value="2_bedroom_large">2 Bedroom (large size, many items)</option>
                            <option value="3_bedroom_avg">3 Bedroom (avg. size, avg. items)</option>
                            <option value="3_bedroom_large">3 Bedroom (large size, many items)</option>
                            <option value="4_bedrooom_avg">4 Bedroom (avg. size, avg. items)</option>
                            <option value="4_bedroom_large">4 Bedroom (large size, many items)</option>
                            <option value="commercial_avg">Commercial (avg. size, avg. items)</option>
                            <option value="commercial_large">Commercial (large size, many items)</option>
                        </select>
                    </div>
                </div>
                <div class="clear" style="margin-top: 5px;"></div>
                <div class="row">
                    <!-- Moving company -->
                    <div id="moving-company" class="input-field valideyn col s12 m6 l6"></div>
                    <!-- Job ID -->
                    <div class="input-field valideyn col s12 m2 l2">
                        <i class="material-icons isare">local_offer</i>
                        <input id="quote-job-number" class="xx" type="text" placeholder="Job ID" disabled />
                        <label class="active" for="quote-job-number">Job Number</label>
                    </div>
                    <!-- Quote date expiration -->
                    <div class="input-field valideyn col s12 m4 l4" id="quote-date-expiration-add"></div>
                </div>
                <div class="clear"></div>
                <!-- TempTruck -->
                <div id="tempTruck" class="row"></div>
                <!-- Add Truck -->
                <div id="addTruck" class="valideyn col s12 m12 l12 add-truck-root"></div>
                <div class="clear"></div>
                <!-- Comment -->
                <div class="input-field col s12 m4 l4">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Note for Company</label>
                </div>
                <div class="input-field col s12 m4 l4">
                    <textarea id="for_your_move" class="materialize-textarea"></textarea>
                    <label for="for_your_move">Note for Your Move</label>
                </div>
                <div class="clear"></div>
                <!-- additional note -->
                <div id="additional_info_add"></div>
                <div class="center-align">
                    <a id="work-request-reset" class="waves-effect waves-light btn amber darken-2" onclick="resetForm()">
                        Reset
                    </a>
                    <a id="work-request" class="waves-effect waves-light btn">Send quote & save</a>
                    <a id="followup" class="waves-effect waves-light btn blue darken-2">
                        Follow UP
                    </a>
                    <a id="confirmed_job" class="waves-effect waves-light btn grey darken">
                        Add To Calendar as confirmed job
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script>
        // reset form
        function resetForm() {
            document.getElementById('quote-request').reset();
        }

        function gasFeeNotSure() {
            if (!document.getElementById('gas_fee').disabled) {
                document.getElementById('gas_fee').value = -0.01;
                document.getElementById('gas_fee').disabled = true;
            } else {
                document.getElementById('gas_fee').disabled = false;
                document.getElementById('gas_fee').value = 0;
            }
        }

        function showFlatRate() {
            document.querySelector('#flatRate_').classList.toggle('hide');
        }
    </script>
</template>
