<template name="updateQuote">
    <div>
        <!-- Prequote -->
        <div id="quote-content" class="row">
            <form id="quote-request">
                <!-- First Name -->
                <div class="input-field valideyn col s12 m6 l2">
                    <i class="material-icons isare">account_box</i>
                    <input
                        id="firstName_2"
                        type="text"
                        value="{{ istifadechi.clientFirstName }}"
                        placeholder="First Name"
                    />
                    <label class="active" for="firstName_2">First Name</label>
                </div>
                <!-- Last Name -->
                <div class="input-field valideyn col s12 m6 l2">
                    <i class="material-icons isare">account_box</i>
                    <input
                        id="lastName_2"
                        type="text"
                        value="{{ istifadechi.clientLastName }}"
                        placeholder="Last Name"
                    />
                    <label class="active" for="lastName_2">Last Name</label>
                </div>
                <!-- phone number -->
                <div class="input-field valideyn col s12 m6 l2">
                    <i class="material-icons isare">phone</i>
                    <input
                        id="phoneNumber_2"
                        onkeypress="return isNumberKey(event)"
                        type="text"
                        value="{{ istifadechi.phoneNumber }}"
                        placeholder="Phone Number"
                    />
                    <label class="active" for="phoneNumber_2">Phone Number</label>
                </div>
                <!-- Additional phone number -->
                <div class="input-field valideyn col s12 m6 l2">
                    <i class="material-icons isare">phone</i>
                    <input
                        id="phoneNumber_2_additional"
                        onkeypress="return isNumberKey(event)"
                        type="text"
                        value="{{ istifadechi.phoneAdditional }}"
                        placeholder="Additional Phone Number"
                    />
                    <label class="active" for="phoneNumber_2">Additional Phone Number</label>
                </div>
                <!-- email -->
                <div class="input-field valideyn col s12 m6 l4">
                    <i class="material-icons isare">email</i>
                    <input id="musteriEmail_2" type="email" value="{{ istifadechi.email }}" placeholder="E-mail" />
                    <label class="active" for="musteriEmail_2">E-mail</label>
                </div>
                <div class="clear"></div>
                <!-- Additional Contact -->
                <div id="additional-contact-update" class="row"></div>
                <!-- moving date -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">date_range</i>
                    <input id="quote-date-picker_2" class="xx" type="text" placeholder="Moving Date" />
                    <label class="active" for="quote-date-picker_2">Moving Date</label>
                </div>
                <!-- Taken By -->
                <div id="takenBy--update" class="col s12 m3 l3"></div>
                <div id="quoteExpireDateUpdate" class="col s12 m3 l3"></div>
                <div class="clear"></div>
                <!-- moving addresses -->
                <div class="col s12 l12 m12 cardBorder relative">
                    <div id="addressesIdUpdate" class="input-field valideyn"></div>
                </div>
                <!-- moving time window -->
                <div id="update_time_window" class="input-field valideyn col s12 m6 l6"></div>
                <!-- small item pack -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">view_array</i>
                    <input
                        id="small_item_pack_2"
                        class="xx"
                        type="number"
                        value="{{ istifadechi.smallItemPacking }}"
                        placeholder="Small item packing"
                    />
                    <label class="active" for="small_item_pack_2">
                        Small item packing
                        <input
                            id="smallItemPackUpdate"
                            type="checkbox"
                            onclick="(() => {
                                                    let element = document.getElementById('small_item_pack_2')
                                                    element.value == -1 ? element.value = 0 : element.value = -1;
                                                    element.disabled = !element.disabled;
                                                    })()"
                        />
                    </label>
                </div>
                <!-- large item fee -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">view_carousel</i>
                    <input
                        id="large_item_fee_2"
                        class="xx"
                        type="number"
                        value="{{ istifadechi.largeItemFee }}"
                        placeholder="Large item fee"
                    />
                    <label class="active" for="large_item_fee_2">Large item fee</label>
                </div>
                <!-- gas fee -->
                <div class="input-field valideyn col s12 m3 l3">
                    <i class="material-icons isare">attach_money</i>
                    <input
                        id="gas_fee_2"
                        class="xx"
                        type="number"
                        value="{{ istifadechi.gasFee }}"
                        placeholder="Gas fee"
                    />
                    <label class="active" for="gas_fee_2">
                        Gas fee
                        <i class="lime-text lighten-5 black">
                            [ Not sure?
                            <input
                                type="checkbox"
                                onchange="(function hello(){
                                                document.getElementById('gas_fee_2').value < 0
                                                    ? (document.getElementById('gas_fee_2').disabled = false,
                                                    document.getElementById('gas_fee_2').value = 0)
                                                    : (document.getElementById('gas_fee_2').disabled = true,
                                                    document.getElementById('gas_fee_2').value = -0.01);
                
                                                    console.log('Hello');
                                            })()"
                                checked="{{ isGasFee }}"
                            />]
                        </i>
                    </label>
                </div>
                <!-- deposit -->
                <div class="input-field valideyn col s12 m6 l3">
                    <i class="material-icons isare">view_carousel</i>
                    <input
                        id="deposit-update"
                        class="xx"
                        type="number"
                        value="{{ istifadechi.deposit }}"
                        placeholder="deposit $"
                    />
                    <label class="active" for="deposit-update">Deposit</label>
                </div>
                <div class="clear"></div>
                <!-- Payment types -->
                <div class="row chargingPanel">
                    <div class="col s12 m12 l12 orange darken-4 payment-header">
                        Payment options
                        <i class="lime-text lighten-5 black flatRateSelect"
                            >[ Flat Rate <input id="flatBoxUpdate" type="checkbox" checked="{{ isFlat }}" /> ]</i
                        >
                    </div>
                    <div id="paymentContentUpdate">
                        <!-- labor time -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">timer</i>
                            <input
                                id="labor_time_2"
                                class="xx"
                                type="number"
                                value="{{ istifadechi.laborTime }}"
                                placeholder="0"
                            />
                            <label class="active" for="labor_time_2">Minimum labor time</label>
                        </div>
                        <!-- rates cash -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="hourly_rates_cash_2"
                                class="xx"
                                type="number"
                                value="{{ istifadechi.hourlyRatesCash }}"
                                placeholder="0"
                            />
                            <label class="active" for="hourly_rates_cash_2">Hourly rate (cash)</label>
                        </div>
                        <!-- rates card -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="hourly_rates_card_2"
                                class="xx"
                                type="number"
                                value="{{ istifadechi.hourlyRatesCard }}"
                                placeholder="0"
                            />
                            <label class="active" for="hourly_rates_card_2">Hourly rate (card)</label>
                        </div>
                        <!-- not exceed price -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="quote_price_2"
                                class="xx"
                                type="number"
                                value="{{ istifadechi.price }}"
                                placeholder="0"
                            />
                            <label class="active" for="quote_price_2">Not exceed price</label>
                        </div>
                    </div>
                    <!-- flate rate -->
                    <div id="flatRateUpdate_" class="input-field valideyn col s12 m12 l12 flatRate hide">
                        <!-- flat rate cash -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="flatRateCashUpdate"
                                class="xx"
                                type="number"
                                placeholder="0"
                                onchange="(() => {
                                                    if (this.value< 0) {
                                                         this.value=0; 
                                                         } })()"
                            />
                            <label class="active" for="flatRateCashUpdate">Flat rate cash</label>
                        </div>
                        <!-- flat rate card -->
                        <div class="input-field valideyn col s12 m6 l3">
                            <i class="material-icons isare">attach_money</i>
                            <input
                                id="flatRateCardUpdate"
                                class="xx"
                                type="number"
                                placeholder="0"
                                onchange="(() => {
                                                    if (this.value < 0) { this.value=0; } })()"
                            />
                            <label class="active" for="flatRateCardUpdate">Flat rate card</label>
                        </div>
                    </div>
                </div>
                <!-- gas fee -->
                <div class="input-field valideyn col s12 m6 l6">
                    <i class="material-icons isare">attach_money</i>
                    <input
                        id="company-name-update"
                        class="xx"
                        type="text"
                        value="{{ istifadechi.companyInfo.name }}"
                        disabled
                    />
                    <label class="active" for="company-name-update">Company</label>
                </div>
                <!-- double drive time -->
                <div id="double-drive-time-update" class="input-field col s12 m3 l3 azMargin"></div>
                <!-- Number of movers -->
                <div id="number-of-movers2" class="input-field valideyn col s12 m3 l3 azMargin">
                    <!-- <i class="material-icons isare">person</i> -->
                </div>
                <!-- moving size -->
                <div id="moving-size" class="input-field col s12 m6 l6 azMargin"></div>
                <div class="clear"></div>
                <!-- job number -->
                <div class="input-field valideyn col s12 m3 l3">
                    <i class="material-icons isare">local_offer</i>
                    <input
                        id="quote-job-number_2"
                        class="xx"
                        type="text"
                        value="{{ istifadechi.jobNumber }}"
                        placeholder="Job ID"
                        disabled
                    />
                    <label class="active" for="quote-job-number_2">Job number</label>
                </div>
                <!-- Quote taken date -->
                <div class="input-field valideyn col s12 m6 l6">
                    <i class="material-icons isare">access_time</i>
                    <input
                        id="quote-quote-date"
                        class="xx"
                        type="text"
                        value="{{ istifadechi.quoteDate }}"
                        placeholder="Quote taken Date"
                        disabled
                    />
                    <label class="active" for="quote-quote-date">Quote Taken Date</label>
                </div>
                <!-- Status -->
                <div id="status_update" class="input-field valideyn col s12 m3 l3"></div>
                <div class="clear"></div>
                <!-- selected movers -->
                <div id="secilmisIscilerinSiyahisi col s12 m12 l12"></div>
                <!-- TempTruck -->
                <div>
                    <div id="tempTruckUpdate" class="iscilerinSiyahisiRender"></div>
                </div>
                <!-- movers list -->
                <div class="iscilerin-siyahisi row">
                    <div class="basliq">ASSIGN MOVERS</div>
                    <div id="iscilerinSiyahisiRender"></div>
                </div>
                <!-- truck number -->
                <div id="truck-list-update" class="valideyn">
                    <i class="material-icons isare">local_shipping</i>
                    <input
                        id="quote-turck-number_2"
                        class="xx"
                        type="number"
                        value="{{ istifadechi.truckNumber }}"
                        placeholder="Truck Number"
                    />
                </div>
                <!-- comment -->
                <div class="input-field col s12 m4 l4">
                    <textarea id="textarea2" class="materialize-textarea">{{ istifadechi.comment }}</textarea>
                    <label class="active" for="textarea2">Note for Company</label>
                </div>
                <!-- comment -->
                <div class="input-field col s12 m4 l4">
                    <textarea id="for_your_move_update" class="materialize-textarea">{{
                        istifadechi.noteForYourMove
                    }}</textarea>
                    <label class="active" for="for_your_move_update">Note for Your Move</label>
                </div>
                <!-- comment -->
                <div class="input-field col s12 m4 l4">
                    <textarea id="additional_info_update" class="materialize-textarea">{{
                        istifadechi.additionalInfo
                    }}</textarea>
                    <label class="active" for="additional_info_update">Additional Info</label>
                </div>
                <div class="clear"></div>
                <!-- save & resend button -->
                <div class="center-align">
                    <div class="center-align quote-submit">
                        <a id="work-update" class="waves-effect waves-light btn">Save (Update)</a>
                    </div>
                    <div class="center-align quote-submit">
                        <div class="center-align quote-submit">
                            <a id="resend-email" class="waves-effect waves-light btn" style="background-color: #E9A226">
                                Resend Quote
                            </a>
                        </div>
                        <div class="center-align quote-submit">
                            <a
                                id="resend-confirmation"
                                class="waves-effect waves-light btn"
                                style="background-color: #E9A226"
                            >
                                Resend Confirmation
                            </a>
                        </div>
                        <div class="center-align quote-submit">
                            <a
                                id="send-info-supervisior"
                                class="waves-effect waves-light btn"
                                style="background-color: #e53935"
                            >
                                For Supervisor
                            </a>
                        </div>
                        <div class="center-align quote-submit" id="new_appointment_update"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
